BODY {
	MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica
}
A {
	FONT-WEIGHT: normal; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 2px; COLOR: #052101; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 18px
}
IMG {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica
}
TH {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: left
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT.button {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/button.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 130px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Verdana", "Tahoma", "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: transparent
}
HR {
	COLOR: #1d7d76; HEIGHT: 1px
}
OPTION {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
OPTION.normal {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
OPTION.grey {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #a4acab; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
BODY.main {
	MARGIN: 10px; BACKGROUND-COLOR: #ddeeee
}
TABLE.container {
	BORDER-RIGHT: #a6b3a6 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 100%; BORDER-BOTTOM: #a6b3a6 1px solid; BACKGROUND-COLOR: #d5e6e5
}
TABLE.container TD {
	COLOR: #003431; FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.dialog {
	BORDER-RIGHT: #a6b3a6 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; BORDER-LEFT: #ffffff 1px solid; COLOR: #003431; BORDER-BOTTOM: #a6b3a6 1px solid; FONT-FAMILY: Arial, Helvetica, Verdana; BACKGROUND-COLOR: #d5e6e5
}
TABLE.dialog TABLE.header {
	BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; WIDTH: 100%; BORDER-BOTTOM: #ffffff 2px inset; HEIGHT: 25px; BACKGROUND-COLOR: #c0d4d4; TEXT-ALIGN: center
}
TABLE.dialog TABLE.header TD {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-ALIGN: center
}
TABLE.dialog TABLE.body {
	WIDTH: 100%
}
TABLE.body TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #d5e6e5
}
TABLE.dialog TD.body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
TABLE.dialog TABLE.footer {
	BORDER-TOP: #ffffff 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ffffff 2px inset; HEIGHT: 25px; BACKGROUND-COLOR: #c0d4d4
}
TABLE.dialog TABLE.footer TD {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-ALIGN: center
}
TABLE.dialog TABLE.body TD.confirm {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-WEIGHT: bold; BORDER-LEFT: 1px; COLOR: #ff0000; BORDER-BOTTOM: 1px; HEIGHT: 100px; TEXT-ALIGN: center
}
TABLE.container TR.dark {
	BACKGROUND-COLOR: #c0d4d4
}
TABLE.container TR.dark TD {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 25px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 2px inset; BACKGROUND-COLOR: #c0d4d4
}
TABLE.container TR.top_dialog {
	BACKGROUND-COLOR: #c0d4d4
}
TABLE.container TR.top_dialog TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #c0d4d4
}
TABLE.container TR.head {
	BACKGROUND-COLOR: #c9dfdf
}
TABLE.container TR.head TD {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bfd6d6 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px; BORDER-BOTTOM: #bfd6d6 1px solid; BACKGROUND-COLOR: #c9dfdf
}
TABLE.container TD.label {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
TABLE.container A {
	FONT-WEIGHT: bold; COLOR: #005555; TEXT-DECORATION: underline
}
TABLE.container A:hover {
	FONT-WEIGHT: bold; COLOR: #990000; TEXT-DECORATION: underline
}
TABLE.container TABLE.list {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 98%; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #99cccc
}
TABLE.list TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #c1dcdc; TEXT-ALIGN: left
}
TABLE.list TR.heading {
	BACKGROUND-COLOR: #669999
}
TABLE.list TR.odd TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #e0eee0
}
TABLE.list TR.critical TD A:hover {
	COLOR: #990000; BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #e0eee0; TEXT-DECORATION: underline
}
TABLE.list TR.log_emergency TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #ffa0a0
}
TABLE.list TR.log_alert TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #ffc0a3
}
TABLE.list TR.log_critical TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #ffd850
}
TABLE.list TR.log_error TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #ffffb0
}
TABLE.list TR.log_warning TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #c8c8ff
}
TABLE.list TR.log_notice TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #cceedd
}
TABLE.list TR.log_information TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #e8e8e8
}
TABLE.list TR.log_debug TD {
	BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #c1dcdc
}
TABLE.list TR.heading TD {
	BACKGROUND: url(../images/tableheadpattern.gif) #eff8f5; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #74908f 1px solid; HEIGHT: 18px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
TABLE.list TD.key {
	FONT-WEIGHT: bold; CURSOR: pointer; COLOR: #ffffff; BACKGROUND-COLOR: #669999; TEXT-DECORATION: underline
}
TABLE.list TR.odd TD.key {
	FONT-WEIGHT: bold; CURSOR: pointer; COLOR: #ffffff; BACKGROUND-COLOR: #669999; TEXT-DECORATION: underline
}
TABLE.list TD.keydown {
	FONT-WEIGHT: bold; COLOR: #006666; BACKGROUND-COLOR: #b9dcd3; TEXT-DECORATION: underline
}
TABLE.list TR.odd TD.keydown {
	FONT-WEIGHT: bold; COLOR: #006666; BACKGROUND-COLOR: #ddeedc; TEXT-DECORATION: underline
}
TABLE.list TD.action {
	BACKGROUND: url(../images/actionpattern.gif) #669999; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #d7e0de 1px solid; HEIGHT: 18px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
TABLE.list TD.left {
	PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; TEXT-ALIGN: left
}
TABLE.list TR.heading TD.left {
	TEXT-ALIGN: left
}
TABLE.list A {
	FONT-WEIGHT: bold
}
TABLE.list A:hover {
	FONT-WEIGHT: bold; COLOR: #990000; TEXT-DECORATION: underline
}
TABLE.plainwborder {
	FONT-SIZE: 10px; WIDTH: 100%; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #99cccc
}
TABLE.infotable {
	BORDER-RIGHT: #9bc6b7 1px solid; BORDER-TOP: #9bc6b7 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9bc6b7 1px solid; WIDTH: 100%; BORDER-BOTTOM: #9bc6b7 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #99cccc
}
TABLE.infotable TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #003431; PADDING-TOP: 3px; BORDER-BOTTOM: #a3e6c6 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #e9f7f7
}
TABLE.infotable A {
	COLOR: #007a6a
}
TABLE.infotable A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
TABLE.infotable TR.heading TD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/tableheadpattern.gif) #669999; VERTICAL-ALIGN: middle; COLOR: #052101; FONT-FAMILY: Verdana, Arial, Helvetica; HEIGHT: 18px; TEXT-ALIGN: left
}
TABLE.infotable TR.heading TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/tableheadpattern.gif) #669999; VERTICAL-ALIGN: middle; COLOR: #052101; FONT-FAMILY: Verdana, Arial, Helvetica; HEIGHT: 18px; TEXT-ALIGN: left
}
TABLE.matrix {
	BORDER-RIGHT: #9bc6b7 1px solid; BORDER-TOP: #9bc6b7 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #9bc6b7 1px solid; WIDTH: 80%; BORDER-BOTTOM: #9bc6b7 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #99cccc
}
TABLE.matrix TD {
	PADDING-RIGHT: 2px; BORDER-TOP: #a3e6c6 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #003431; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TABLE.matrix A {
	COLOR: #007a6a
}
TABLE.matrix A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
TABLE.matrix TR.heading {
	BACKGROUND-COLOR: #669999
}
TABLE.matrix TD.active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; BACKGROUND-COLOR: #f3fac1
}
TABLE.matrix TD.notactive {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
TABLE.matrix TR.heading TD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/tableheadpattern.gif) #669999; VERTICAL-ALIGN: middle; COLOR: #052101; FONT-FAMILY: Verdana, Arial, Helvetica; HEIGHT: 18px
}
TABLE.graph {
	BORDER-RIGHT: #229483 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #229483 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #229483 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #229483 1px solid
}
TABLE.graph TD {
	BORDER-RIGHT: #73aaa2 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.graph_red {
	BORDER-RIGHT: #73aaa2 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/graph_on_red.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.graph TR {
	BORDER-RIGHT: #73aaa2 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.chart {
	BORDER-RIGHT: #229483 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #229483 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #229483 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #229483 0px solid
}
TABLE.chart TD {
	BORDER-RIGHT: #229483 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #229483 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #229483 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #229483 0px solid
}
TABLE.chart TR {
	BORDER-RIGHT: #229483 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #229483 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #229483 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #229483 0px solid
}
TD.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.cont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.error {
	COLOR: #bd0000; BORDER-BOTTOM: #cae2d7 1px solid; BACKGROUND-COLOR: #e0eee0; TEXT-DECORATION: none
}
TABLE.normal {
	FONT-SIZE: 11px; WIDTH: 100%; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ddeeee
}
TABLE.normal TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ddeeee
}
BODY.mainnav {
	MARGIN: 15px 3px 0px 0px; BACKGROUND-COLOR: #1d7d76
}
TABLE.mainnav {
	WIDTH: 135px
}
TD.menu_spacer1 {
	HEIGHT: 2px
}
TD.menu_spacer2 {
	HEIGHT: 0px
}
TD.menu_level1 {
	PADDING-LEFT: 21px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/bglevel1_2.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 28px
}
TD.menu_level12 {
	PADDING-LEFT: 21px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/bglevel1_1.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #7d3333; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 28px
}
TD.menu_level1 A {
	FONT-SIZE: 55px; VERTICAL-ALIGN: middle; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana
}
TD.menu_level1_over {
	PADDING-LEFT: 21px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/bglevel1_12.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 28px
}
TD.menu_level2 {
	PADDING-LEFT: 21px; FONT-SIZE: 11px; BACKGROUND: url(../images/bglevel2_2.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 19px
}
TD.level2_over {
	PADDING-LEFT: 21px; FONT-SIZE: 11px; BACKGROUND: url(../images/bglevel2_3.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 19px
}
TD.level2_on {
	PADDING-LEFT: 21px; FONT-SIZE: 11px; BACKGROUND: url(../images/bglevel2_1.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 138px; CURSOR: pointer; COLOR: #620a0c; FONT-FAMILY: Arial, Helvetica, Verdana; HEIGHT: 19px
}
TD.foldinglist {
	PADDING-TOP: 2px
}
TD.clsTab {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; CURSOR: pointer; FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.clsTab A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; CURSOR: pointer; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
BODY.footer {
	MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica
}
BODY.footer TABLE.footer {
	BACKGROUND: url(../images/footer_pattern.gif)
}
TABLE.footer TD {
	FONT-SIZE: 10px
}
TABLE.wizard {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ddeeee
}
TABLE.wizard_footer {
	BORDER-TOP: #ffffff 1px solid; BACKGROUND-COLOR: #b5d4cf
}
TD.wizard_previous {
	FONT-WEIGHT: normal; BACKGROUND: url(../images/wizard_m3.gif) no-repeat; COLOR: #ffffff; HEIGHT: 29px
}
TD.wizard_current {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/wizard_m1.gif) no-repeat; COLOR: #990000; HEIGHT: 29px
}
TD.wizard_next {
	FONT-WEIGHT: normal; BACKGROUND: url(../images/wizard_m2.gif) no-repeat; COLOR: #ddeeee; HEIGHT: 29px
}
INPUT.button_wizard {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button_wizard.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Verdana", "Tahoma", "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: transparent
}
